{
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"airbnb",
		"prettier",
		"plugin:import/typescript"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": [
		"import",
		"react",
		"react-hooks",
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"semi": [
			"error",
			"never"
		],
		"comma-dangle": [
			"error",
			"never"
		],
		"arrow-parens": [
			"error",
			"as-needed"
		],
		"consistent-return": "off",
		"no-underscore-dangle": "off",
		"func-names": "off",
		"class-methods-use-this": "off",
		"no-useless-constructor": "off",
		"no-unused-vars": "off",
		"no-extra-parens": "off",
		"no-case-declarations": "off",
		"object-shorthand": "error",
		"no-template-curly-in-string": "off",
		"prefer-template": "error",
		"linebreak-style": [
			"error",
			"unix"
		],
		"import/no-named-as-default": [
			"off"
		],
		"import/no-cycle": [
			"off"
		],
		"import/order": [
			"error",
			{
				"groups": [
					[
						"builtin",
						"external",
						"internal"
					]
				],
				"pathGroups": [
					{
						"pattern": "react",
						"group": "external",
						"position": "before"
					}
				],
				"pathGroupsExcludedImportTypes": [
					"builtin"
				]
			}
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"no-tabs": [
			"off",
			{
				"allowIndentationTabs": true
			}
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-shadow": "off",
		"lines-between-class-members": "off",
		"no-param-reassign": "off",
		"no-console": "off",
		"no-nested-ternary": "off",
		"no-use-before-define": "off",
		"arrow-body-style": "off",
		"prefer-arrow-callback": [
			"error",
			{
				"allowUnboundThis": true,
				"allowNamedFunctions": true
			}
		],
		"radix": "off",
		"prefer-const": [
			"error",
			{
				"destructuring": "all",
				"ignoreReadBeforeAssign": false
			}
		],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true,
				"avoidEscape": false
			}
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".tsx"
				]
			}
		],
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-curly-spacing": [
			2,
			{
				"when": "never",
				"attributes": {
					"allowMultiline": true
				},
				"children": true
			}
		],
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/require-default-props": "off",
		"react/jsx-wrap-multilines": "off",
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"react/jsx-key": [
			"warn"
		],
		"react/no-array-index-key": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import/no-extraneous-dependencies": "off",
		"import/prefer-default-export": "off",
		"import/no-unresolved": "error",
		"import/extensions": [
			"error",
			"never",
			{
				"json": "always"
			}
		],
		"@typescript-eslint/semi": [
			"error",
			"never"
		],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"ignoreRestSiblings": true,
				"caughtErrors": "none",
				"argsIgnorePattern": "^_",
				"args": "after-used"
			}
		],
		"@typescript-eslint/no-shadow": "off",
		"@typescript-eslint/ban-ts-ignore": "off",
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"prettier/prettier": "error"
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [
				".ts",
				".tsx"
			]
		},
		"import/resolver": {
			"typescript": {}
		}
	},
	"overrides": [
		{
			"files": [
				"*.js",
				"**/*_spec.ts",
				"**/*.spec.ts",
				"**/*.spec.tsx"
			],
			"rules": {
				"@typescript-eslint/no-var-requires": "off",
				"no-undef": "off"
			}
		},
		{
			"files": [
				"**/*.spec.ts",
				"**/*.spec.tsx"
			]
		}
	]
}